---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ableco/fino-test-repository/pulls/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <github-access-token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1465573917'
      Etag:
      - W/"99d15d9a36b6d4c57eae122e39d7f3fc"
      Last-Modified:
      - Fri, 10 Jun 2016 15:14:21 GMT
      X-Oauth-Scopes:
      - delete_repo, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ableco/fino-test-repository/pulls/1","id":70710123,"html_url":"https://github.com/ableco/fino-test-repository/pull/1","diff_url":"https://github.com/ableco/fino-test-repository/pull/1.diff","patch_url":"https://github.com/ableco/fino-test-repository/pull/1.patch","issue_url":"https://api.github.com/repos/ableco/fino-test-repository/issues/1","number":1,"state":"open","locked":false,"title":"Ben''s
        test PR #1","user":{"login":"blim8183","id":4014,"avatar_url":"https://avatars.githubusercontent.com/u/4014?v=3","gravatar_id":"","url":"https://api.github.com/users/blim8183","html_url":"https://github.com/blim8183","followers_url":"https://api.github.com/users/blim8183/followers","following_url":"https://api.github.com/users/blim8183/following{/other_user}","gists_url":"https://api.github.com/users/blim8183/gists{/gist_id}","starred_url":"https://api.github.com/users/blim8183/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blim8183/subscriptions","organizations_url":"https://api.github.com/users/blim8183/orgs","repos_url":"https://api.github.com/users/blim8183/repos","events_url":"https://api.github.com/users/blim8183/events{/privacy}","received_events_url":"https://api.github.com/users/blim8183/received_events","type":"User","site_admin":false},"body":"Fixes
        #11, Fixes #15","created_at":"2016-05-19T15:01:45Z","updated_at":"2016-06-10T15:14:21Z","closed_at":null,"merged_at":null,"merge_commit_sha":"eaa7fdcb7065f25eeed916ebb38456e532a1ac39","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/ableco/fino-test-repository/pulls/1/commits","review_comments_url":"https://api.github.com/repos/ableco/fino-test-repository/pulls/1/comments","review_comment_url":"https://api.github.com/repos/ableco/fino-test-repository/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ableco/fino-test-repository/issues/1/comments","statuses_url":"https://api.github.com/repos/ableco/fino-test-repository/statuses/3725a3d16de95fd60139ed0f9bf3a9e754c73322","head":{"label":"ableco:bens-branch","ref":"bens-branch","sha":"3725a3d16de95fd60139ed0f9bf3a9e754c73322","user":{"login":"ableco","id":320549,"avatar_url":"https://avatars.githubusercontent.com/u/320549?v=3","gravatar_id":"","url":"https://api.github.com/users/ableco","html_url":"https://github.com/ableco","followers_url":"https://api.github.com/users/ableco/followers","following_url":"https://api.github.com/users/ableco/following{/other_user}","gists_url":"https://api.github.com/users/ableco/gists{/gist_id}","starred_url":"https://api.github.com/users/ableco/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ableco/subscriptions","organizations_url":"https://api.github.com/users/ableco/orgs","repos_url":"https://api.github.com/users/ableco/repos","events_url":"https://api.github.com/users/ableco/events{/privacy}","received_events_url":"https://api.github.com/users/ableco/received_events","type":"Organization","site_admin":false},"repo":{"id":59209955,"name":"fino-test-repository","full_name":"ableco/fino-test-repository","owner":{"login":"ableco","id":320549,"avatar_url":"https://avatars.githubusercontent.com/u/320549?v=3","gravatar_id":"","url":"https://api.github.com/users/ableco","html_url":"https://github.com/ableco","followers_url":"https://api.github.com/users/ableco/followers","following_url":"https://api.github.com/users/ableco/following{/other_user}","gists_url":"https://api.github.com/users/ableco/gists{/gist_id}","starred_url":"https://api.github.com/users/ableco/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ableco/subscriptions","organizations_url":"https://api.github.com/users/ableco/orgs","repos_url":"https://api.github.com/users/ableco/repos","events_url":"https://api.github.com/users/ableco/events{/privacy}","received_events_url":"https://api.github.com/users/ableco/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/ableco/fino-test-repository","description":"Basic
        application for testing Fino","fork":false,"url":"https://api.github.com/repos/ableco/fino-test-repository","forks_url":"https://api.github.com/repos/ableco/fino-test-repository/forks","keys_url":"https://api.github.com/repos/ableco/fino-test-repository/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ableco/fino-test-repository/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ableco/fino-test-repository/teams","hooks_url":"https://api.github.com/repos/ableco/fino-test-repository/hooks","issue_events_url":"https://api.github.com/repos/ableco/fino-test-repository/issues/events{/number}","events_url":"https://api.github.com/repos/ableco/fino-test-repository/events","assignees_url":"https://api.github.com/repos/ableco/fino-test-repository/assignees{/user}","branches_url":"https://api.github.com/repos/ableco/fino-test-repository/branches{/branch}","tags_url":"https://api.github.com/repos/ableco/fino-test-repository/tags","blobs_url":"https://api.github.com/repos/ableco/fino-test-repository/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ableco/fino-test-repository/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ableco/fino-test-repository/git/refs{/sha}","trees_url":"https://api.github.com/repos/ableco/fino-test-repository/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ableco/fino-test-repository/statuses/{sha}","languages_url":"https://api.github.com/repos/ableco/fino-test-repository/languages","stargazers_url":"https://api.github.com/repos/ableco/fino-test-repository/stargazers","contributors_url":"https://api.github.com/repos/ableco/fino-test-repository/contributors","subscribers_url":"https://api.github.com/repos/ableco/fino-test-repository/subscribers","subscription_url":"https://api.github.com/repos/ableco/fino-test-repository/subscription","commits_url":"https://api.github.com/repos/ableco/fino-test-repository/commits{/sha}","git_commits_url":"https://api.github.com/repos/ableco/fino-test-repository/git/commits{/sha}","comments_url":"https://api.github.com/repos/ableco/fino-test-repository/comments{/number}","issue_comment_url":"https://api.github.com/repos/ableco/fino-test-repository/issues/comments{/number}","contents_url":"https://api.github.com/repos/ableco/fino-test-repository/contents/{+path}","compare_url":"https://api.github.com/repos/ableco/fino-test-repository/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ableco/fino-test-repository/merges","archive_url":"https://api.github.com/repos/ableco/fino-test-repository/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ableco/fino-test-repository/downloads","issues_url":"https://api.github.com/repos/ableco/fino-test-repository/issues{/number}","pulls_url":"https://api.github.com/repos/ableco/fino-test-repository/pulls{/number}","milestones_url":"https://api.github.com/repos/ableco/fino-test-repository/milestones{/number}","notifications_url":"https://api.github.com/repos/ableco/fino-test-repository/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ableco/fino-test-repository/labels{/name}","releases_url":"https://api.github.com/repos/ableco/fino-test-repository/releases{/id}","deployments_url":"https://api.github.com/repos/ableco/fino-test-repository/deployments","created_at":"2016-05-19T13:42:09Z","updated_at":"2016-05-19T13:46:08Z","pushed_at":"2016-06-07T20:15:26Z","git_url":"git://github.com/ableco/fino-test-repository.git","ssh_url":"git@github.com:ableco/fino-test-repository.git","clone_url":"https://github.com/ableco/fino-test-repository.git","svn_url":"https://github.com/ableco/fino-test-repository","homepage":null,"size":32,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":7,"forks":0,"open_issues":7,"watchers":0,"default_branch":"master"}},"base":{"label":"ableco:master","ref":"master","sha":"bc888fcf97710c3c6b1e2d0d31bbe20d7ffd19d2","user":{"login":"ableco","id":320549,"avatar_url":"https://avatars.githubusercontent.com/u/320549?v=3","gravatar_id":"","url":"https://api.github.com/users/ableco","html_url":"https://github.com/ableco","followers_url":"https://api.github.com/users/ableco/followers","following_url":"https://api.github.com/users/ableco/following{/other_user}","gists_url":"https://api.github.com/users/ableco/gists{/gist_id}","[...]
